<div class='row'>Your day is now being converted into a piece of music. Once it is loaded, click on the Play button to listen!</div>

<div class='row'>
    <div class='col-sm-6'><button [disabled]="!play_enabled" (click)="onPlay()" >Play</button></div>
    <div class='col-sm-6'><button [disabled]="!stop_enabled" (click)="onStop()" >Stop</button></div>    
</div>
